<p id="notice"><%= notice %></p>

<p>
  <strong>Student id:</strong>
  <%= @student.Student_ID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.Name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.Gender %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
